@import "../../app.scss";
@import url('https://fonts.cdnfonts.com/css/general-sans');

.navbar {
  height: 100px;
  font-family: 'General Sans', sans-serif;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-start;
      padding: 20px;
    }

    .name-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      @include mobile {
        align-items: flex-start;
        margin-left: 35px;
      }
    
      .name {
        font-weight: 600;
        font-size: 24px;
        display: flex;
        align-items: baseline;
    
        .highlight {
          font-size: 32px;
        }
    
        .highlight2 {
          font-size: 22px;
        }
    
        .superscript {
          font-size: 18px;
          position: relative;
          top: -10px;
          margin-left: 3px;
        }
    
        @include mobile {
          font-size: 18px;
    
          .highlight {
            font-size: 24px;
          }
    
          .highlight2 {
            font-size: 16px;
          }
    
          .superscript {
            font-size: 14px;
            top: -8px;
          }
        }
      }
    
      .portfolio {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
    
        @include mobile {
          font-size: 18px;
          margin-top: 2px;
        }
      }
    }
    

    .social {
      display: flex;
      gap: 20px;

      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }

      a {
        display: inline-block;
        transition: transform 0.3s ease, filter 0.3s ease;
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: 10%;
      }

      a:hover,
      .music-icon:hover {
        transform: scale(1.2);
      }

      img:hover {
        filter: brightness(1.3);
      }

      .music-icon {
        cursor: pointer;

        img {
          width: 26px;
          height: 26px;
        }

        &.playing {
          animation: pulse 1.5s infinite alternate;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}
