@import "../../app.scss";
@import url('https://fonts.cdnfonts.com/css/general-sans');

.navbar {
  height: 100px;
  font-family: 'General Sans', sans-serif; // Apply font

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    .name-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .name {
      font-weight: 600;
      font-size: 24px;
      display: flex;
      align-items: baseline;

      @include mobile {
        display: none;
      }

      .highlight {
        font-size: 32px;
      }
      .highlight2 {
        font-size: 22px;
      }

      .superscript {
        font-size: 18px;
        position: relative;
        top: -10px;
        margin-left: 3px;
      }
    }

    .portfolio {
      font-size: 32px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .social {
      display: flex;
      gap: 20px;

      a {
        display: inline-block;
        transition: transform 0.3s ease, filter 0.3s ease;
      }

      img {
        width: 24px;
        height: 24px;
        border-radius: 10%;
        transition: transform 0.3s ease, filter 0.3s ease;
      }

      /* Hover Effects */
      a:hover, .music-icon:hover {
        transform: scale(1.2);
      }

      img:hover {
        filter: brightness(1.3);
      }

      /* Music Icon */
      .music-icon {
        cursor: pointer;
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;

        img {
          width: 26px;
          height: 26px;
        }

        &:hover {
          transform: scale(1.2);
          filter: brightness(1.3);
        }

        &.playing {
          animation: pulse 1.5s infinite alternate;
        }
      }
    }
  }
}

/* Pulse animation when music is playing */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}
